:root{
    --colorAzul: #0E1626;
    --colorNaranjaOscuro: #F24405;
    --colorNaranjaClaro: #F27D52;
    --colorCeleste: #569E92;
    --colorCelesteFondo: #BFDDDF;    
}
.logoAdmin{
    width: 100px;
}


.adminP-table{
    max-width: 90%;
    margin: 0 auto;
}
.tablerow-admin td{
    padding: 5px;
    width: 17%;
    text-align: center;
    background-color: var(--colorCelesteFondo);
}

.fa-trash{
    padding: 5px;
    margin: 2px;
    font-size: 1.2em;
}
.delete-product{
    border: none;
}
.delete-product:hover{
    background-color: #F24405;
    color: white;
    cursor: pointer;
}
.fa-user-edit{
    color: var(--colorAzul);
    /* border: solid .5px var(--colorNaranjaOscuro); */
    padding: 10px;
    background-color: white;
}
.fa-user-edit:hover{
    
    background-color: #0279E8;
}

/* .fa-trash:hover{
    background-color: #F24405;
    color: white;
} */
.admin-section{
    margin-top: 50px;
    margin-bottom: 25px;
}
.btn-newp{
    background-color: var(--colorAzul);
    color: white;
    padding: 15px;
    margin-top: 15px;
    margin-left: 5%;
}
.btn-newp:hover{
    background-color: #F27D52;
}

.logoutAdmin{
    background-color: crimson;
    color: white;
    padding: 3px;
    width: 80%;
}
.adminSearchForm{
    display: flex;
    position: relative;
    margin: 25px 0 ;
    width: 100%;
}
header.adminHeaderMobile{
    background: linear-gradient(90deg, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 35%, rgba(213,244,250,.5) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    }
.adminSearchForm{
    align-items: center;
}
.adminSearchForm button{
    font-size: 1.2rem;
    position: absolute;
    top: 20%;
    right: 10%;
    border: none;
    background-color: transparent;
}
.adminSearchForm input{
    width: 80%;
    padding: 5px;
    border-radius: 3px;
    outline: none;
}

.adminImg {
    aspect-ratio: 16/9;
    width: 100% ;
    object-fit: cover;
    
}
.adminBody aside nav{
    height: 100vh;
}
.navAdmin{
    display: flex; 
    background-color: #0E1626;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navAdmin ul{
    display: flex;
    flex-direction: column;
}
.navAdmin ul li{
    display: inline;
    margin: 25px 0 ;
}
.adminBody aside{
    margin-top: -50px;
    position: fixed;
    height: 100vh; 
    transition: all 0.5s ease-in;
}
.adminMenuShow{
    left: 0;
}
.adminMenuHide{
    left: -55%;
}

@media (min-width: 768px) {
    .admin-section{
        width: 100vw;
    }
    header.adminHeaderMobile{
    display:none;
    }
    .adminBody{
        display: flex;
    }
    .adminBody aside{
        width: 30vw;
        position: sticky;
        top: 0;
        left: 0;
        display:block ;
    }
    .admin-section{
        margin-top: 0px;
        
    }
  }