
/* footer */
#logoFooter{
    width: 30%;
    filter: grayscale();
    transition: all ease-in .5s;

}
#logoFooter:hover{
    filter: none;

}
.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    padding: 25px;
    margin-top: 20px;
    background-color: #0E1626;
    color: white;
    text-decoration: none;
}

.footerItem{
    margin: 15px;
    text-align: center;
}
.itemTittle{
    margin-bottom: 10px;
}
.footerList{
    list-style: none;
}
.footerList a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    text-transform: capitalize;
    margin-top: 15px;
}
.redesFooter{
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
}

@keyframes latido {
    0% {
        font-size: 0.67em;
    }
    25%{
        font-size: 1em;
    }
    50%{
        font-size: 0.67em
    }
    100% {
        
        font-size: 1em;
    }
}

footer .firma{
    display: flex;
    margin: 5px 0 0 0;
    justify-content: center;
}
footer .firma .fas{
    color: var(--colorNaranjaOscuro);
}
footer .firma .fas {
    animation: infinite latido 2000ms alternate;
    
}
@media (min-width:576px) {
    #logoFooter{
        width: 10vw;
    
    }
    .footerContainer{
        flex-direction: row;
        
    }
}
