/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */
*{
    font-family: 'Roboto', sans-serif;
}
/* webkit input search  */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* MENU LATERAL */
#burger {
    font-size: 1.3rem;  
    cursor: pointer;
    z-index: 2;
    margin-left: 15px;
}

.menu-lateral{
    left: -70%;
    position: relative;
    opacity:0;
    top: 0;
    transition: left 0.8s;
    z-index: 2;
}
#panelMenuLateral{
    width: 70%;
    height: 100vh;
    background-color: var(--colorAzul);
    position: fixed;
    top: 0vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
}

.menu-lateral ul a {
    color: #F7F7E7;
    text-decoration: none;
}
.menu-lateral li{
    list-style: none;
    font-size: 1rem;
    text-align: center;
    padding: 0 0.5rem;
    margin: 1rem 0;
}
.menu-lateral li:hover{
    color: white;
    border: solid white;
    border-width: 0 0 0 0.1rem;

}
.header-mobile-drop-title{
    color: white; 
    position: relative;
    cursor: pointer;
}
.header-mobile-drop-title i{ 
    position: absolute;
    top: 3px;
    right: 17px;
}
.header-mobile-products-drop{
    margin-left: 15px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    transition : all 0.8s ;
    opacity : 1
}
.header-mobile-products-drop a{
    height: fit-content;
}
.search-bar{
    display: flex;
}
.search-bar input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    outline: none;
}
.search-bar input:focus{
    border: 2px solid var(--colorNaranjaOscuro) ;
}
.search-bar button{
    width: fit-content;
    position: relative;
    background-color: transparent;
    border:none;
    bottom: 24px;
    right: -88%;
    cursor: pointer;
}
.search-bar button :hover{
    color: var(--colorNaranjaOscuro) ;
}
.side-bar-logo{
    color: white;
    position: relative;
}
.side-bar-logo h1{
    font-family: "Bauhaus 93";
}
/* CLASES PARA JAVASCRIPT */
.menu-deploy{
    opacity: 1;
    left: 0%;
}


/* FIN DE CLASES PARA JAVASCRIPT */
/* FIN MENU LATERAL */

/* header */
 header{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: fit-content;
    z-index: 2;
} 
.container-header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px black solid ;
    height: 80px;
    padding: 40px;
    opacity: .8;
}
.search-bar-desktop{
    display: none;
    position: relative;
    flex-grow: 0.5;
    /* padding: 10px; */
}
.search-bar-desktop input{
    width: 100%;
    height: 30px;
    border-radius: 3px; 
    outline-style: none;
    border: none;
    border-bottom: 1px solid var(--colorNaranjaOscuro);
    position: relative;
    bottom: 5px;
    background-color: transparent;
     padding: 12px; 
}
.search-bar-desktop input:focus{
    
}
.search-bar-desktop button{
    position: absolute;
    border: none;
    right: 2px;
    top: 0px;
    background-color: transparent;
    font-size: 1em;
    cursor: pointer;
    color: var(--colorNaranjaOscuro);
}
.search-bar-desktop button :hover{
    color: var(--colorNaranjaOscuro);
}

.container-header-logo h1{
    font-family: "Bauhaus 93";
    margin-right: 15px;
}
.header-cart-bag{
    display: none;
    width: 10%;
    justify-content: space-around;
}
.header-cart-bag a i{
    font-size: 1.3rem;
}
.nav-bar{
    display: none;
    position: relative;
    top: -5px;
}
.nav-bar ul{
    display: flex;
    justify-content: center;
}
.nav-bar ul li{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    position: relative;
    bottom: 20px ;
    border-bottom: black 1px solid;
    border-width: 0 ;
    transition: border-width 0.5s;
}
.nav-bar ul li:hover{
    border-width: medium;
}
header a{
    color: black;
    text-decoration: none;  
}
header a :hover{
    color: var(--colorNaranjaOscuro)  
}

/* Main necesario para el position fixed del header */
main{
    padding-top: 65px ;
}



/* nuevo header */
.headerContainerDesktop{
    display: flex;
    flex-direction: row;
    /* position: fixed; */
    background: linear-gradient(90deg, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 35%, rgba(213,244,250,.5) 100%);
    
    color: rgb(0, 0, 0);
    /*     box-shadow: 0px 16px 19px -11px rgba(66,66,66,0.61);
 */    z-index: 100000;
 
}
#logoHeader{
    width: 150px;
    margin: 5px;
    padding: 5px;
}
.mainHeaderContainer{
    display: flex;
    /*     position: fixed; 
    */    align-items: center;
    width: 100%;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 35%, rgba(213,244,250,.5) 100%);
    padding-top: 0px ;

    /*     box-shadow: 0px 16px 19px -11px rgba(66,66,66,0.61);
 */}
 
.logoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5em;
}

.menuHeaderList{
    display: flex;
    
}
.menuHeaderItem{
    
    list-style:none;
    margin: 15px;
    
    padding: 1.2vh;
    border-radius: 15px;
    margin: 15px;
    
    padding: 5px;
    transition: all ease-in 1s;
    
}
.menuHeaderItem:hover{
    background-color: white;
    border: solid 1.5px solid grey;
}
a{
    text-decoration: none;
}
.BusquedaContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.busquedaBarra{
    width: 400px;
    padding: 10px;
    border-radius: 25px;
}
.iconoBusqueda{
    position: absolute;
    right: 0;
    padding: 5px;
    margin: 5px;
}
.miniHeaderFijo{
    display: none;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    background-color: aliceblue;
    margin-top:1px;
    
}

#logoHeaderMini{
    width: 5em;
    /* display: none; */
    opacity: 0;
    transition: all ease-in .5s;
    margin-left: 50px;
}
.scroll{
    top :-1%;
    position: fixed;
    z-index: 1000;
    
}


/* flecha ir al top */

.fa-arrow-alt-circle-up{
    font-size: 4em;
    color: rgb(241, 144, 53);
    z-index: 1000;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: white;
    border-radius: 50%;
    opacity: 1;
    transition: all ease-in .5s;
    
}


/* fin nuevo header */
@media (min-width:576px) {
    .header-cart-bag a i{
        font-size: 25px
    }
    .header-cart-bag a {
        margin-left: 20px;
    }
    .left-panel{
        width: 60%;
    }
    .checkbox:checked ~ .menu{
        left: 60%;
    }
}
@media (min-width:768px) {
    .miniHeaderFijo{
        display: flex;
        
    }
    .side-bar-logo h1 {
        font-size: 46px;
    }
    .container-header-logo h1{
        font-size: 45px;
    }
    #burger{
        font-size: 2rem;
    }
    .search-bar input{
        width: 300px
    }
    .search-bar button{
        right: -92%;
    }

}
@media (min-width:900px){
    header{
        position:static
    } 
    #menuLateral{
        display: none;
    }
    #burger{
        display: none;
    }
    .search-bar-desktop{
        display: block;
    }
    .header-cart-bag{
        display: flex;
    }
    .container-header{
       /*  justify-content: space-evenly; */
        border-bottom: none ;
        MAX-WIDTH: 1600PX;
    MARGIN: 0 AUTO;
    }
    .nav-bar{
        display: block;
    }
    .miniHeaderFijo{
        display: flex; 
    }
}