
.nuevoNewsletter p {
  text-align: center;
  margin: 10px;
  color: white;
}
.nuevoNewsletter form {
  margin: 0 auto;
  width: 85%;
  
}
.nuevoNewsletter .news-title {
  margin-top: 10px;
  font-size: 1.5em;
  color: white;
}
.nuevoNewsletter .news-input input {
  height: 25px;
  border: 1px solid var(--colorNaranjaOscuro);
  padding: 15px;
  border-radius: 5px;
  transition: border 0.5s;
  outline: none;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
}
.nuevoNewsletter .news-input input:hover {
  border-color: #f24405;
}
.nuevoNewsletter .news-input button {
  display: flex;
  background-color: #0e1626;
  border: none;
  height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.5s;
  margin: 0 auto;
  transform: scale(1);
}

.nuevoNewsletter .news-input button:hover {
  background-color: #f24405;
  transform: scale(1.1);
}
.fa-paper-plane{
  font-size: 5em;
  color: white;
}
.nuevoNewsletter{
   text-align: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 35vh;
  width: 100%;
  margin: 0 auto;
  background: url("https://media.costadelmar.com/images/content/landing-pages/lifestyle-sunglasses/costa-lifestyle-polarized-sunglasses.jpg?imwidth=1920");

  /* background: linear-gradient(to bottom right, rgba(6,15,131,1) 0%, rgba(132,210,228,1) 39%, rgba(154,255,251,1) 76%, rgb(245, 133, 5) 100%);
  background-size: 200% 200%; */
  animation: movingGradient 5s linear infinite alternate;
  padding: 8%;
}

.newstitle{
  font-size: 1.5em;
}
@media (min-width: 576px) {
  .newsletter form {
    margin: 0 auto;
    width: 54%;
  }
  .nuevoNewsletter form{
    display: flex;
  flex-direction: row;
  }
  .nuevoNewsletter{
     
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 35vh;
    width: 100%;
    margin: 0 auto;
    /* background: linear-gradient(to bottom right, rgba(6,15,131,1) 0%, rgba(132,210,228,1) 39%, rgba(154,255,251,1) 76%, rgb(245, 133, 5) 100%);
    background-size: 200% 200%; */
    background: url("https://media.costadelmar.com/images/content/landing-pages/lifestyle-sunglasses/costa-lifestyle-polarized-sunglasses.jpg?imwidth=1920");

    animation: movingGradient 5s linear infinite alternate;
    padding: 8%;
  }
  .fa-paper-plane{
    font-size: 5em;
  }
  .newsInfor{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .newstitle{
    font-size: 3em;
    color: white;
  }
  
  .news-input input{
    display: flex;
  }
}

/* newsletter */

@keyframes movingGradient {
 from {background-position: 0 0 ;}
 to {background-position: 50% 50%;}
}

.formNews{
margin-top: 15px;
}