:root{
    --colorAzul: #0E1626;
    --colorNaranjaOscuro: #F24405;
    --colorNaranjaClaro: #F27D52;
    --colorCeleste: #569E92;
    --colorCelesteFondo: #BFDDDF;    
}
.body-register{
    
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: var(--colorCelesteFondo);
}
.register-main{
    padding-top: 65px;
    margin-bottom: 15px;
    margin-top: 15px;
}
/* FORMULARIO */
.container-form{
    height: fit-content;
    width: 90%;
    background-color: #f5f5f5;
    border-radius: 5px;
    
    margin: 0 auto;
    box-shadow: 5px 10px 5px 1px rgba(0, 0, 0, 0.2);
    
}
.container-form .form-title{
    text-align: center;
    margin: 15px 10px 10px 15px;
    text-transform: uppercase;
    padding-top: 15px;

}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.container-form label{
    display: block;
    text-transform: uppercase;
    margin-left: 5px;

}
.container-form input{
    width: 88%;
    padding: 10px 5px;
    color: #000;
    background: white;
    border-radius: 5px;
    margin: 0 0 5px 5px;
    padding-left: 15px;/* 
    border: 1px solid var(--colorAzul); */
    color: var(--colorAzul);
    border:  #F24405 solid 1px;
}
.container-form p{
    text-align: center; 
}
.boton-enviar{
    display: flex;
    /* width: 75%; */
    justify-content: center;
}
.boton-enviar .enviar{
    background-color: var(--colorAzul);
    border: none;
    width: 200px;
    height: 45px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.boton-enviar .enviar:hover{
    background-color: var(--colorNaranjaOscuro);
    transition: .5s;
    width: 225px;
    
}
.container-form .login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.container-form .login a{
    margin-left: 5px;
    color: var(--colorNaranjaOscuro);
    text-decoration: none;
}
.container-form .firma{
    display: flex;
    margin-top: 5px;
    justify-content: center;
}
.container-form .firma .fas{
    color: var(--colorNaranjaOscuro);
}
.container-form .lentes-registro{
    display: none;
    
}

/* MEDIA QUERIES */
/*tablet*/
@media screen and (min-width: 435px){
    .container-form{
        display: flex;
        flex-direction: column;
        
        width: 70%;        
    }
    .container-form .lentes-registro{
        display: inline;
        border-radius: 0 0 5px 5px;
    }
    .register-main{
        background-color: var(--colorCelesteFondo);
        margin-top: 30px;
    }
}
/*desktop*/
@media (min-width: 768px) {

    .body-register{
        background-color: var(--colorCelesteFondo)
        
    }
    .container-form{
        
        width: 40%; 
        border-radius: 10px;
        margin: 0 auto;
        box-shadow: none;
        
    }
    .container-form p{
        margin: 2px; 
    }
    .container-form input{
        width: 75%;
        padding: 10px ;
        margin-bottom: 20px;
        padding-left: 25px;   
    }
    .container-form{
        display: flex;
        flex-direction: column;
        
    }
    .container-form .firma{
        
        margin-top: 10px;
        
    }
    .container-form .lentes-registro{
        display: flex;
        border-radius: 0 0 10px 10px;
        
    }
    .register-main{
        margin-top: 40px;
    }
    
    
}