*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
/* cards */
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    flex-wrap: wrap;
    background-color: #d5dada;
}
.card-container article{
    margin-bottom: 47px;
    margin-top: 50px;
    border: #828383 1px solid;
    padding-top: 10px;
    background-color: #f8fafc;
}
.card-container article:hover{
    box-shadow: #0E1626 0px 10px 10px;
}
.main .card-container img{
    width: 250px;
    /* box-shadow: #0E1626 0px 10px 10px; */
   /*  margin-bottom: 25px; */
    padding: 15px;
    border-radius: 5px;
    background-color: #f8fafc;
    /* border: solid 1px var(--colorNaranjaOscuro); */
}
.product_info_card{
    background-color: #f8fafc;
    padding: 10px 0 ;
}
.card-container .product-name{
    text-align: center;
}
.card-container .precio{
    text-align: center;
    margin-top: 10px;

}
.card-container .btn-comprar{
    background-color: var(--colorAzul);
    text-align: center;
    color: white;
    padding: 15px;
    margin: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all .8s;
    
}
.card-container .btn-comprar:hover{
    background-color: #F24405;
    cursor: pointer;

}
@media (min-width:576px){
    .card-container{
        flex-direction: row;
        justify-content: space-around;
    }
}