*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.searchResultsMain{
    margin-top: 15px;
}

.seachTitle{
    margin-top: 150px;
    font-size: 1.8rem;
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    flex-wrap: wrap;
    background-color: #d5dada;
}
.card-container article{
    margin-bottom: 47px;
    margin-top: 50px;
    border: #828383 1px solid;
    padding-top: 10px;
    background-color: #f8fafc;
}

.card-container article:hover{
    box-shadow: #0E1626 0px 10px 10px;
}

.main .card-container img{
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    background-color: #f8fafc;
}

.product_info_card{
    background-color: #f8fafc;
    padding: 10px 0 ;
}
.card-container .product-name{
    text-align: center;
}

.card-container .precio{
    text-align: center;
    margin-top: 10px;
}

.card-container .btns-container{
    margin: 15px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-container .btn{
    background-color: var(--colorAzul);
    text-align: center;
    color: white;
    padding: 8px 10px;
    width: 200px;
    margin-bottom: 5px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all .3s;
}

.card-container .btn:hover{
    background-color: #F24405;
    cursor: pointer;
}

.cardsearch{
    width: 300px;
}

.cardsearch img{
    width: 100%;
}

@media (min-width:576px){
    .card-container{
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    .cardsearch{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .searchResultsMain{
        margin-left: 10%;
        margin-right: 10%;
    }
}