.slider-container {
    height: 100%;
    width: 100%;
    grid-row: 3;
    grid-column: 1/11;
    display: none; 
    justify-content: space-evenly;
}

.slider-container .prev-slider, .slider-container .next-slider {
    align-self: center;
    color: var(--colorAzul);
    font-size: 2rem;
    cursor: pointer;
}

.slider-container .card-container .card {
    display: block;
    border: 1px solid var(--colorNaranjaClaro);
    background-color: white;
    transform: scale(1);
    transition: all .5s;
    height: 100%;
    text-align: center;
}

.slider-container .card-container .card a {
    text-decoration: none;
}

.slider-container .card-container .card a img {
    height: 200px;
    width: 200px;
}

@media (min-width:1024px){
    .slider-container{
        display: flex;
    }
}