@import url("footer.css");
@import url("header.css");
@import url("cart.css");
@import url("./home/home.css");
@import url("login.css");
@import url("register.css");
@import url("product.css");
<<<<<<< HEAD
@import url("err.css");
=======
@import url("newproduct.css");
@import url("searchResults.css");
>>>>>>> 03dba9b63c0cab42195a50572744259623ac9f61

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto , sans-serif;
}
:root {
    --colorAzul: #0E1626;
    --colorNaranjaOscuro: #F24405;
    --colorNaranjaClaro: #F27D52; 
}