<div class="carousel-container">
        <div class="slide-carousel carousel-cell">
            <img src="https://via.placeholder.com/1400x250" alt="">
        </div>
        <div class="slide-carousel carousel-cell">
            <img src="https://via.placeholder.com/1400x250" alt="">
        </div>
        <div class="slide-carousel carousel-cell">
            <img src="https://via.placeholder.com/1400x250" alt="">
        </div>
        <div class="slide-carousel carousel-cell">
            <img src="https://via.placeholder.com/1400x250" alt="">
        </div>
</div> 