<div class="carousel-container">
        <div class="slide-carousel carousel-cell">
            <img src="/images/home/section-4/carousel-1.jpg" alt="">
        </div>
        <div class="slide-carousel carousel-cell">
            <img src="/images/home/section-4/carousel-2.jpg" alt="">
        </div>
        <div class="slide-carousel carousel-cell">
            <img src="/images/home/section-4/carousel-3.jpg" alt="">
        </div>
        <div class="slide-carousel carousel-cell">
            <img src="/images/home/section-4/carousel-4.jpg" alt="">
        </div>
</div>