<footer>
    <div class="info">
        <h3>CONTACTO</h3>
        <ul>
            <li><a href="https://goo.gl/maps/2AP7WPGq3srbwjLBA">DIRECCION:CALLE FALSA 123</a></li>
            <li><a href="tel:+541125252525">tel:+541125252525</a></li>
            <li><a href="mailto:elcorreoquequieres@correo.com">MAIL</a></li>
        </ul>
    </div>
    <div class="social-media">
        <h3>NUESTRAS REDES</h3>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
    </div>
    <div class="fast-links">
        <h3>LINKS RAPIDOS</h3>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/cart">CARRITO</a></li>
            <li><a href="#">MIS COMPRAS</a></li>
            <li><a href="/about"><li>NOSOTROS</li></a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    </div>
</footer>