<footer>
    <section class="footerContainer">
        <article class="footerItem">
            <a href="/"><img id="logoFooter" src="/images/home/LOGO.png" alt="logo"></a>

        </article>
        <article class="footerItem">
            <h3 class="itemTittle">CONTACTO</h3>
          <ul>
              <li class="footerList"><a href="https://goo.gl/maps/2AP7WPGq3srbwjLBA">DIRECCION:CALLE FALSA 123</a></li>
              <li class="footerList"><a href="tel:+541125252525">tel:+541125252525</a></li>
              <li class="footerList"><a href="mailto:elcorreoquequieres@correo.com">MAIL</a></li>
          </ul>
        </article>
        <article class="footerItem ">
            <h3 class="itemTittle">NUESTRAS REDES</h3>
        <ul class="redesFooter">
            <li class="footerList"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li class="footerList"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="footerList"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
        </article>
        <article class="footerItem">
            <h3 class="itemTittle">LINKS RAPIDOS</h3>
        <ul>
            <li class="footerList"><a href="/">HOME</a></li>
            <li class="footerList"><a href="/users/cart">CARRITO</a></li>
            <li class="footerList"><a href="#">AYUDA</a></li>
            <li class="footerList"><a href="/about">SOBRE NOSOTROS</a></li>
            <li class="footerList"><a href="#">CONTACTO</a></li>
        </ul>
        </article>
        
    </section>

    <div class="firma">
        <h6>Hecho con <i class="fas fa-heart"></i> por <span class="firma-marca">KDDS</span></h6>
    </div>
</footer>