<header>
    <div class="menu-lateral" id="menuLateral"> 
        <div class="left-panel" id="panelMenuLateral">
            <div class="cruzBurger"onclick="closeBurger()"><i class="fas fa-times" id="cruz" ></i></div>
            <ul>
                <li class="side-bar-logo"><a href="/"><h1>KDDS</h1></a></li>
                <li>
                    <div class="search-bar">
                        <form action="">
                            <input type="search" name="" id="">
                            <button class="search-ico">
                                <i class="fas fa-search"></i>
                            </button>
                    </form>
                    </div>
                </li> 
                <li>
                    <a href="/product/cart"><i class="fas fa-shopping-bag"></i>Tu Carrito</a>
                </li>  
                <li>
                    <div class="header-mobile-drop-title" id="header-mobile-drop-title" onclick="headerDropDown()">
                        <h4>Productos</h4>
                        <i class="product fas fa-chevron-down" id="chevron"></i>
                    </div>
                    <ul class="header-mobile-products-drop" id="header-mobile-products-drop">
                        <a href="/product"><li>Anteojos de sol</li></a>
                        <a href="/product"><li>Anteojos de lectura</li></a>
                        <a href="/product"><li>Anteojos de facha</li></a>
                    </ul>
                </li>
                <a href="/users/login"><li>Iniciar sesion</li></a>
                <a href="/users/register"><li>Registrate</li></a>
            </ul>
        </div>
    </div>
    <div class="container-header">
        <div id="burger" onclick="burger()"><i class="fas fa-bars" id="hamburguesa"></i></div>
        <div class="container-header-logo">
            <a href="/"><h1>KDDS</h1></a>
        </div>
        <div class="search-bar-desktop">
            <input type="search" name="" id="">
            <button class="search-ico">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="header-cart-bag">
                <a class="header_user" href="/users/login">
                    <i class="far fa-user"></i>
                </a>
                <a class="header_cart" href="/product/cart">
                    <i class="fas fa-shopping-bag"></i>
                </a>
        </div>
    </div>
    <div class="nav-bar">
        <nav>
            <ul>
                <a href="/product"><li>Lentes de sol</li></a>
                <a href="/product"><li>Lentes de vista</li></a>
                <a href="/product"><li>Ofertas</li></a>
                <a href="/product"><li>Contacto</li></a>
            </ul>
        </nav>
    </div>
</header>