<div class="newsletter">
  <p class="news-title">¡Unite a nuestro newsletter!</p>
  <p class="news-info">
    Suscribite a nuestro newsletter y conocé todas nuestras novedades
    lanzamientos & promos
  </p>
  <form action="" class="news-input">
    <input type="text" placeholder=" Email..." />
    <button type="submit">SUSCRIBIR</button>
  </form>
</div>
