<!-- <div class="newsletter">
  <p class="news-title">¡Unite a nuestro newsletter!</p>
  <p class="news-info">
    Suscribite a nuestro newsletter y conocé todas nuestras novedades
    lanzamientos & promos
  </p>
  <form action="" class="news-input">
    <input type="text" placeholder=" Email..." />
    <button type="submit">SUSCRIBIR</button>
  </form>
</div> -->
<section class="nuevoNewsletter">
  <i class="far fa-paper-plane"></i>
  <div class="newsInfor">
    <div>
      <h2 class="newstitle">¿Querés obtener las mejores ofertas? </h2>
      <p class="news-info">
          Unete a nuestro newsletter y conocé todas nuestras novedades lanzamientos & promos antes que nadie!
      </p>
    </div>
    <div class="newsSub">
      <form action="" class="news-input">
        <input type="text" placeholder=" Email..." />
        <button type="submit">¡Únete ahora con un solo click! </button>
      </form>
    </div>
  </div>
</section>