<div class="slider-container  data-flickity-options='{ "wrapAround": true }'">
    <% db.forEach(product => { %>
        <article class="card carousel-cell">
            <a href="#">
                <img src="/images/home/section-3/lentes-1.jpg">
                <div class="text-box">
                    <h3><%- product.name %></h3>
                    <h3>$<%- product.price %></h3>
                </div>
            </a>    
        </article>
    <%})%> 
</div>