<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KDDS Store</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="../public/js/index.js"></script>
</head>
<body>
    <header>
        <iframe src="./header2.html"></iframe>
    </header>
    <div class="menu-lateral">
        <input type="checkbox" class="checkbox" id="check">
        <label class ="menu" for="check">|||</label>
        <div class="left-panel">
            <ul>
                <li class="side-bar-logo"><a href=""><h1>KDDS</h1></a></li>
                <li>
                    <div class="search-bar">
                        <form action="">
                            <input type="search" name="" id="">
                            <button class="search-ico">
                                <i class="fas fa-search"></i>
                            </button>
                    </form>
                    </div>
                </li>   
                <a href=""><li>Productos</li></a>
                <a href=""><li>Iniciar sesion</li></a>
                <a href=""><li>Registrate</li></a>
            </ul>
        </div>
    </div>
    <section class="portada-container">
        <img src="../public/img/portada.jpg" alt="logo"> 
        <img src="../public/img/KDDS.svg" alt="kdds">
        <div class="logo">
           <img src="../public/img/logo.svg" alt="logo"> 
        </div>
    </section>
    <section class="main-container">
        <article class="card">
            <img src="../public/img/anteojosAzul.png" alt="card-img">
            <h4>Nombre del producto</h4>
            <h4>Precio($0.00)</h4>
            <button>Ver mas</button>
        </article>
        <article class="card">
            <img src="../public/img/anteojosAmarillo.png" alt="card-img">
            <h4>Nombre del producto</h4>
            <h4>Precio($0.00)</h4>
            <button>Ver mas</button>
        </article>
        <article class="card">
            <img src="../public/img/anteojosAzul.png" alt="card-img">
            <h4>Nombre del producto</h4>
            <h4>Precio($0.00)</h4>
            <button>Ver mas</button>
        </article>
        <article class="card">
            <img src="../public/img/anteojosAzul.png" alt="card-img">
            <h4>Nombre del producto</h4>
            <h4>Precio($0.00)</h4>
            <button>Ver mas</button>
        </article>
    </section>
    <section class="slider-container">
        <article class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="../public/img/prod-rel.png" style="width: 100%">
            <div class="text">Caption Text</div>
        </article>
        <article class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="../public/img/prod-rel.png" style="width: 100%">
            <div class="text">Caption one</div>
        </article>
        <article class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="../public/img/prod-rel.png" style="width: 100%">
            <div class="text">Caption two</div>
        </article>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </section>
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <footer>
        FOOTER
    </footer>
</body>
</html>