<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KDDS Store</title>
</head>
<body>
    <header>
        HEADER
    </header>
    <section>
        CARRUSSEL
    </section>
    <section>
        <div>
           <img src="" alt="logo"> 
        </div>
        <article class="card">
            <img src="#" alt="card-img">
            <h4>Nombre del producto</h4>
            <h4>Precio</h4>
        </article>
        <article class="card">
            <img src="#" alt="card-img">
            <h4>Nombre del producto</h4>
            <h4>Precio</h4>
        </article>
        <article class="card">
            <img src="#" alt="card-img">
            <h4>Nombre del producto</h4>
            <h4>Precio</h4>
        </article>
        <article class="card">
            <img src="#" alt="card-img">
            <h4>Nombre del producto</h4>
            <h4>Precio</h4>
        </article>
        <article class="card-relacionado">
            <img src="#" alt="card-img">
            <h4>Nombre del producto</h4>
            <h4>Precio</h4>
        </article>
    </section>
    <section>
        BANNER
    </section>
    <footer>
        FOOTER
    </footer>
</body>
</html>