<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KDDS</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="shortcut icon" href="/images/home/logo.svg" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/89d11a443c316da80dcb8f5e1f63c86e?family=Bauhaus+93" rel="stylesheet" type="text/css"/>
    <script src="/javascripts/home/index.js" defer></script>
    <script src="/javascripts/burger.js" defer></script>
</head>
<body>
    <header>
        <div class="menu-lateral" id="menuLateral"> 
            <div class="left-panel" id="panelMenuLateral">
                <ul>
                    <li class="side-bar-logo"><a href=""><h1>KDDS</h1></a></li>
                    <li>
                        <div class="search-bar">
                            <form action="">
                                <input type="search" name="" id="">
                                <button class="search-ico">
                                    <i class="fas fa-search"></i>
                                </button>
                        </form>
                        </div>
                    </li>   
                    <li>
                        <div class="header-mobile-drop-title" id="header-mobile-drop-title"onclick="headerDropDown()">
                            <h4>Productos</h4>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <ul class="header-mobile-products-drop" id="header-mobile-products-drop">
                            <a href="#"><li>Anteojos de sol</li></a>
                            <a href="#"><li>Anteojos de lectura</li></a>
                            <a href="#"><li>Anteojos de facha</li></a>
                        </ul>
                    </li>
                    <a href=""><li>Iniciar sesion</li></a>
                    <a href=""><li>Registrate</li></a>
                </ul>
            </div>
        </div>
        <div class="container-header">
            <div id="burger" onclick="burger()"><i class="fas fa-bars" id="hamburguesa"></i><i class="fas fa-times" id="cruz" ></i></div>
            <div class="container-header-logo">
                <a href="#"><h1>KDDS</h1></a>
            </div>
            <div class="search-bar-desktop">
                <input type="search" name="" id="">
                <button class="search-ico">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="header-cart-bag">
                    <a class="header_user" href="#">
                        <i class="far fa-user"></i>
                    </a>
                    <a class="header_cart" href="#">
                        <i class="fas fa-shopping-bag"></i>
                    </a>
            </div>
        </div>
        <div class="nav-bar">
            <nav>
                <ul>
                    <a href="#"><li>Lentes de sol</li></a>
                    <a href="#"><li>Lentes de vista</li></a>
                    <a href="#"><li>Ofertas</li></a>
                    <a href="#"><li>Contacto</li></a>
                </ul>
            </nav>
        </div>
    </header>
    <main class="home">
        <!------------------------------------------------------------------------------->
    <!-------------- Sector 1 ------------------------------------------------------->
    <section class="section-1-container">
        <div class="fondo-container">
            <img class="banner-home" src="/images/productos/homebanner2021.jpg" >
            <div class="logo">
                <img src="/images/home/section-1/KDDS.svg" >
            </div>
        </div>
    </section>
    <!------------------------------------------------------------------------------->
    <!-------------- Sector 2 ------------------------------------------------------->
    <section class="product-block">
        <div class="flip">
            <div class="flip-img">
                <img src="/images/home/section-2/lentes.png" > 
            </div>
            <div class="flip-text">
                <div class="flip-title">
                    <p>KDDS</p>
                </div>
                <div class="name-block">
                    <h1>
                    Linda Farrow
                        LF1810
                    </h1>
                </div>
                <div class="cuotas">
                    <p>12 cuotas sin intereses</p>
                </div>
                <button>
                    <a href="#"> Comprar ahora </a>
                </button>
            </div>
        </div>
        <div class="sep-box">
            <p>TODOS LOS DIAS HASTA 12 CUOTAS SIN INTERES </p>
            <p>TARJETAS VISA Y MASTERCARD</p>
        </div>
    </section>
    <!------------------------------------------------------------------------------->
    <!-------------- Sector 3 ------------------------------------------------------->
    <section class="section-3-container">
        <div class="box-top">
            <div class="slider">
            <article class="product-box-top fade">
                <img src="/images/home/section-3/lentes-1.jpg">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="text-box">
                    <h3>Patrick Silver</h3>
                    <h3>$6.499</h3>
                    <p>6 cuotas sin interes de $1.083</p>
                    <button>Comprar</button>
                </div>
            </article>
            </div>
            <div class="slider">
            <article class="product-box-top fade">
                <img src="/images/home/section-3/lentes-2.jpg">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="text-box">
                    <h3>Patrick Silver</h3>
                    <h3>$6.499</h3>
                    <p>6 cuotas sin interes de $1.083</p>
                    <button>Comprar</button>
                </div>
            </article>
            </div>
            <div class="slider">
            <article class="product-box-top fade">
                <img src="/images/home/section-3/lentes-3.jpg">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="text-box">
                    <h3>Patrick Silver</h3>
                    <h3>$6.499</h3>
                    <p>6 cuotas sin interes de $1.083</p>
                    <button>Comprar</button>
                </div>
            </article>
            </div>
            <div class="slider">
            <article class="product-box-top fade">
                <img src="/images/home/section-3/lentes-4.jpg">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="text-box">
                    <h3>Patrick Silver</h3>
                    <h3>$6.499</h3>
                    <p>6 cuotas sin interes de $1.083</p>
                    <button>Comprar</button>
                </div>
            </article>
            </div>
        </div>
        <!---------------------------------------------------------->
        <!---------------------------------------------------------->
        <div class="box-bottom">
            <div class="slider-bottom">
                <article class="product-box-botton fade">
                    <img src="/images/home/section-3/bottom/lentes-1.jpg">
                    <a class="prev" >&#10094;</a>
                    <a class="next" >&#10095;</a>
                    <div class="text-box">
                    <div class="text-box">
                        <h3>Gregory Peck</h3>
                        <h3>$3.899</h3>
                        <p>6 cuotas sin interes de $650</p>
                        <button>Comprar</button>
                    </div>
                </article>
            </div>
            <div class="slider-bottom">
                <article class="product-box-botton fade">
                    <img src="/images/home/section-3/bottom/lentes-2.jpg">
                    <a class="prev" >&#10094;</a>
                    <a class="next" >&#10095;</a>
                    <div class="text-box">
                    <div class="text-box">
                        <h3>Gregory Peck</h3>
                        <h3>$3.899</h3>
                        <p>6 cuotas sin interes de $650</p>
                        <button>Comprar</button>
                    </div>
                </article>
            </div>
            <div class="slider-bottom">
                <article class="product-box-botton fade">
                    <img src="/images/home/section-3/bottom/lentes-3.jpg">
                    <a class="prev" >&#10094;</a>
                    <a class="next" >&#10095;</a>
                    <div class="text-box">
                    <div class="text-box">
                        <h3>Gregory Peck</h3>
                        <h3>$3.899</h3>
                        <p>6 cuotas sin interes de $650</p>
                        <button>Comprar</button>
                    </div>
                </article>
            </div>
            <div class="slider-bottom">
                <article class="product-box-botton fade">
                    <img src="/images/home/section-3/bottom/lentes-4.jpg">
                    <a class="prev" >&#10094;</a>
                    <a class="next" >&#10095;</a>
                    <div class="text-box">
                    <div class="text-box">
                        <h3>Gregory Peck</h3>
                        <h3>$3.899</h3>
                        <p>6 cuotas sin interes de $650</p>
                        <button>Comprar</button>
                    </div>
                </article>
            </div>
    </section>

    <!------------------------------------------------------------------------------->
    <!-------------- Sector 4 ------------------------------------------------------->
    <section class="section-4-container">
        <div class="container-top">
            <h1>OFERTAS DEL MES</h1>
            <img src="/images/home/section-4/promo-1.jpg" >
            <img src="/images/home/section-4/publi-2.jpg" >
        </div>
        <div class="container-bottom">
            <h1>BENEFICIOS EXCLUSIVOS!</h1>
            <img src="/images/home/section-4/gafas.jpg" >
            <div class="box-pagos">
                <span>Aceptamos los siguientes medios de pago</span>
                <i class="fab fa-bitcoin"></i>
                <i class="far fa-credit-card"></i>
                <i class="fab fa-cc-paypal"></i>
                <i class="fab fa-cc-visa"></i>
                <i class="fas fa-money-bill-wave"></i>
            </div>
        </div>
    </section>

    <div class="newsletter">
        <p class="news-title">¡Unite a nuestro newsletter!</p>
        <p class="news-info">Suscribite a nuestro newsletter y conocé todas nuestras novedades lanzamientos & promos</p>
        <form action="" class="news-input">
            <input type="text" placeholder=" Email...">
            <button type="submit">SUSCRIBIR</button>
        </form>
    </div>

    <!-------------------------------------------------------------->
    <!------- FOOTER ----------------------------------------------->
    </main>
    <footer>
        <div class="info">
            <h3>CONTACTO</h3>
            <ul>
                <li><a href="https://goo.gl/maps/2AP7WPGq3srbwjLBA">DIRECCION:CALLE FALSA 123</a></li>
                <li><a href="tel:+541125252525">tel:+541125252525</a></li>
                <li><a href="mailto:elcorreoquequieres@correo.com">MAIL</a></li>
            </ul>
        </div>
        <div class="social-media">
            <h3>NUESTRAS REDES</h3>
            <ul>
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
        </div>
        <div class="fast-links">
            <h3>LINKS RAPIDOS</h3>
            <ul>
                <li><a href="http://localhost:3000/">HOME</a></li>
                <li><a href="http://localhost:3000/cart">CARRITO</a></li>
                <li><a href="#">MIS COMPRAS</a></li>
                <li><a href="#">SOBRE NOSOTROS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>