<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/856ee86f3c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- header kev -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="shortcut icon" href="/images/home/logo.svg" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/89d11a443c316da80dcb8f5e1f63c86e?family=Bauhaus+93" rel="stylesheet" type="text/css"/>
    <script src="/javascripts/home/index.js" defer></script>
    <!-- fin head kev -->
    <title>Login</title>
</head>
<body>
    
        <header>
            <div class="container-header">
                <div class="container-header-logo">
                    <a href="http://localhost:3000/"><h1>KDDS</h1></a>
                </div>
                <div class="header-cart-bag">
                        <a href="http://localhost:3000/login" class="header_user">
                            <i class="far fa-user"></i>
                        </a>
                        <a href="http://localhost:3000/cart" class="header_cart">
                            <i class="fas fa-shopping-bag"></i>
                        </a>
                </div>
            </div>
        </header>
        <div class="menu-lateral">
            <input type="checkbox" class="checkbox" id="check">
            <label class ="menu" for="check"><i class="fas fa-bars"></i></label>
            <div class="left-panel">
                <ul>
                    <li class="side-bar-logo"><a href=""><h1>KDDS</h1></a></li>
                    <li>
                        <div class="search-bar">
                            <form action="">
                                <input type="search" name="" id="">
                                <button class="search-ico">
                                    <i class="fas fa-search"></i>
                                </button>
                        </form>
                        </div>
                    </li>   
                    <a href=""><li>Productos</li></a>
                    <a href=""><li>Iniciar sesion</li></a>
                    <a href=""><li>Registrate</li></a>
                </ul>
            </div>
        </div>
    
    <main>
        <div class="container-form">
            <h2 class="form-title">Bienvenido</h2>

            <form action="" method="POST">
                
                <p class="element">
                    <label for="email" >E-mail</label>
                    <input type="email" id="email" name="email" placeholder="usuario@email.com">
                </p>
                <p class="element">
                    <label for="password" >Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="ingresa al menos 8 caracteres">
                </p>
                <div class="remember-container">
                
                        <input class="remember" type="checkbox" id="remember" value="recordar">
                        <label class="remember" for="remember">Recordame</label>
                    
                </div>
            </form>
            <div class="boton-enviar">
                <button class="enviar">
                    ingresa
                </button>
                
            </div>
            
            <div class="register">
                <p>¿Todavia no tenés cuenta?  <a href="#">Registrate</a></p>
                
            </div>
            <div class="register recuperar">
                
                <p>¿Olvidaste la contraseña?  <a href="#">Recuperala</a></p>
            </div>
            <div class="firma">
                <h6>Hecho con    <i class="fas fa-heart"></i>    por <span class="firma-marca">KDDS</span></h6>
            </div>
            
            <img class="lentes-registro" src="/images/login/lentes_registro.jpg" alt="Bienvenido">
        </div>

    </main>
    <footer>
        <div class="info">
            <h3>CONTACTO</h3>
            <ul>
                <li><a href="https://goo.gl/maps/2AP7WPGq3srbwjLBA">DIRECCION:CALLE FALSA 123</a></li>
                <li><a href="tel:+541125252525">tel:+541125252525</a></li>
                <li><a href="mailto:elcorreoquequieres@correo.com">MAIL</a></li>
            </ul>
        </div>
        <div class="social-media">
            <h3>NUESTRAS REDES</h3>
            <ul>
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
        </div>
        <div class="fast-links">
            <h3>LINKS RAPIDOS</h3>
            <ul>
                <li><a href="http://localhost:3000/">HOME</a></li>
                <li><a href="http://localhost:3000/cart">CARRITO</a></li>
                <li><a href="#">MIS COMPRAS</a></li>
                <li><a href="#">SOBRE NOSOTROS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </div>
    </footer>   
    
</body>
</html>