<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
    
</head>
<body class="about-body">
    <!-- HEADER -->
    
    <%- include('partials/header.ejs') %> 
    
    <!-- FIN DE HEADER -->
    <main class="about-main">
        <section class="about-container">
            <h1 class="about-title">Nuestra Compañia</h1>
            <img src="/images/home/2021HERO.jpg" alt="hero2021">
            <div class="about-data">
                <p>
                    De espíritu libre, moderno y aventurero, KDDS, se posiciona como marca líder dentro del mercado óptico brindando originalidad, tendencia y funcionalidad en sus diseños.                        
                </p>
                <p>
                    Sus colecciones integran ítems de Sol y Receta, los cuales acompañan la impronta de la temporada en su materialidad y paleta de color. 
                </p>
                <p>
                    Las colecciones KDDS, apuntan a un universo libre y desestructurado, donde hombres y mujeres se sienten a gusto con la libertad de llevar una gafa tan linda como funcional.
                </p>
            </div>
            <h3 class="about-redes-title"> Seguinos en las Redes</h3>
            <div class="about-social">
                
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="far fa-envelope"></i>
            </div>
            <div class="firma">
                <h6>Hecho con <i class="fas fa-heart"></i> por <span class="firma-marca">KDDS</span></h6>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %> 
    
    <!-- FIN DE FOOTER -->
</body>
</html>