<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head.ejs') %> 
    <link rel="stylesheet" href="/stylesheets/loginAdmin.css">
<body class="bodyAdmin">
    
    <main class="main-loginAdmin">
        
        <img class="logoAdmin" src="/images/admin/LOGO.png" alt="logo">
        <h1 class="admintittle">Bienvenido Administrador</h1>
        <div class="loginAdmin-container">
            <form class="formAdmin" action="/admin" method="POST">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Ingresá Tu email">
                <% if (locals.errors && errors.email) { %>
                    <small class="text-danger"><i class="fas fa-exclamation-circle"></i><%= errors.email.msg %> </small>
                   <% } %>
                <label for="password">Password</label>
                <input type="password" name="password" id="" placeholder="Ingresa tu Contraseña">
                <% if (locals.errors && errors.password) { %>
                    <small class="text-danger"><i class="fas fa-exclamation-circle"></i><%= errors.password.msg %> </small>
                   <% } %>
                <% if (locals.errors) { %>
                    <small class="text-danger"><i class="fas fa-exclamation-circle"></i>Credenciales invalidas </small>
                <% } %>
                <button type="submit" class="btnIngresar">INGRESAR</button>
            </form>
            
        </div>
    </main>
</body>
</html>