<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %> 
<body class="cart-body">
    <!-- HEADER -->
    <%- include('partials/header.ejs') %> 
    
    <!-- FIN DE HEADER -->
    <main class="cart-main">
        <div class="cart-products">
            <h2>Tu carrito</h2>
            <div class="cart-product">
                <figure>
                    <img src="/images/prod_cart/d_lian_c4_perfil.jpg" alt="imagen del product">
                </figure>
                <div class="cart-prod-info">
                    <div class="container-info-quantity">
                        <div class="prod-info">
                            <p class="product-name"><strong>NOMBRE PRODUCTO</strong></p>
                            <p class="product-price">PRECIO $0000 </p>
                        </div>
                        <div class="quantity-container"> 
                            <label for="quantity">Cantidad
                                <select name="quantity" id="quantity">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="container-subtotal">
                        <p>SUBTOTAL: $0000</p>
                    </div>  
                    <button class="discard-button"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
            <div class="cart-product">
                <figure>
                    <img src="/images/prod_cart/d_lian_c4_perfil.jpg" alt="imagen del product">
                </figure>
                <div class="cart-prod-info">
                    <div class="container-info-quantity">
                        <div class="prod-info">
                            <p class="product-name"><strong>NOMBRE PRODUCTO</strong></p>
                            <p class="product-price">PRECIO $0000 </p>
                        </div>
                        <div class="quantity-container"> 
                            <label for="quantity">Cantidad
                                <select name="quantity" id="quantity">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="container-subtotal">
                        <p>SUBTOTAL: $0000</p>
                    </div>  
                    <button class="discard-button"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
            <div class="cart-product">
                <figure>
                    <img src="/images/prod_cart/d_lian_c4_perfil.jpg" alt="imagen del product">
                </figure>
                <div class="cart-prod-info">
                    <div class="container-info-quantity">
                        <div class="prod-info">
                            <p class="product-name"><strong>NOMBRE PRODUCTO</strong></p>
                            <p class="product-price">PRECIO $0000 </p>
                        </div>
                        <div class="quantity-container"> 
                            <label for="quantity">Cantidad
                                <select name="quantity" id="quantity">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="container-subtotal">
                        <p>SUBTOTAL: $0000</p>
                    </div>  
                    <button class="discard-button"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
        <div class="total-container">
            <span>TOTAL</span><span>$0000</span>
        </div>
        <div class="buy-button">
            <button class="buy">INICIAR COMPRA</button>
        </div>
    </main>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %> 
    
    <!-- FIN DE FOOTER -->
</body>
</html>