<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 
<body>
    <!-- HEADER -->
    
    <%- include('partials/header.ejs') %> 
    
    <!-- FIN DE HEADER -->
    <main class="home">
    <!------------------------------------------------------------------------------->
    <!-------------- Sector 1 ------------------------------------------------------->
    <section class="section-1-container">
        <div class="fondo-container">
            <img class="banner-home" src="/images/productos/homebanner2021.jpg" >
            <div class="logo">
                <img src="/images/home/section-1/KDDS.svg" >
            </div>
        </div>
    </section>
    <!------------------------------------------------------------------------------->
    <!-------------- Sector 2 ------------------------------------------------------->
    <section class="product-block">
        <div class="flip">
            <div class="flip-img">
                <img src="/images/home/section-2/lentes.png" > 
            </div>
            <div class="flip-text">
                <div class="flip-title">
                    <p>KDDS</p>
                </div>
                <div class="name-block">
                    <h1>
                    Linda Farrow
                        LF1810
                    </h1>
                </div>
                <div class="cuotas">
                    <p>12 cuotas sin intereses</p>
                </div>
                <button>
                    <a href="/product"> Comprar ahora </a>
                </button>
            </div>
        </div>
        <div class="sep-box">
            <p>TODOS LOS DIAS HASTA 12 CUOTAS SIN INTERES </p>
            <p>TARJETAS VISA Y MASTERCARD</p>
        </div>
    </section>
    <!------------------------------------------------------------------------------->
    <!-------------- Sector 3 ------------------------------------------------------->
    <section class="section-3-container">
        <div class="box-top">
            <div class="slider">
            <article class="product-box-top fade">
                <img src="/images/home/section-3/lentes-1.jpg">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="text-box">
                    <h3>Patrick Silver</h3>
                    <h3>$6.499</h3>
                    <p>6 cuotas sin interes de $1.083</p>
                    <button>Comprar</button>
                </div>
            </article>
            </div>
            <div class="slider">
            <article class="product-box-top fade">
                <img src="/images/home/section-3/lentes-2.jpg">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="text-box">
                    <h3>Patrick Silver</h3>
                    <h3>$6.499</h3>
                    <p>6 cuotas sin interes de $1.083</p>
                    <button>Comprar</button>
                </div>
            </article>
            </div>
            <div class="slider">
            <article class="product-box-top fade">
                <img src="/images/home/section-3/lentes-3.jpg">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="text-box">
                    <h3>Patrick Silver</h3>
                    <h3>$6.499</h3>
                    <p>6 cuotas sin interes de $1.083</p>
                    <button>Comprar</button>
                </div>
            </article>
            </div>
            <div class="slider">
            <article class="product-box-top fade">
                <img src="/images/home/section-3/lentes-4.jpg">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="text-box">
                    <h3>Patrick Silver</h3>
                    <h3>$6.499</h3>
                    <p>6 cuotas sin interes de $1.083</p>
                    <button>Comprar</button>
                </div>
            </article>
            </div>
        </div>
        <!---------------------------------------------------------->
        <!---------------------------------------------------------->
        <div class="box-bottom">
            <div class="slider-bottom">
                <article class="product-box-botton fade">
                    <img src="/images/home/section-3/bottom/lentes-1.jpg">
                    <a class="prev" >&#10094;</a>
                    <a class="next" >&#10095;</a>
                    <div class="text-box">
                    <div class="text-box">
                        <h3>Gregory Peck</h3>
                        <h3>$3.899</h3>
                        <p>6 cuotas sin interes de $650</p>
                        <button>Comprar</button>
                    </div>
                </article>
            </div>
            <div class="slider-bottom">
                <article class="product-box-botton fade">
                    <img src="/images/home/section-3/bottom/lentes-2.jpg">
                    <a class="prev" >&#10094;</a>
                    <a class="next" >&#10095;</a>
                    <div class="text-box">
                    <div class="text-box">
                        <h3>Gregory Peck</h3>
                        <h3>$3.899</h3>
                        <p>6 cuotas sin interes de $650</p>
                        <button>Comprar</button>
                    </div>
                </article>
            </div>
            <div class="slider-bottom">
                <article class="product-box-botton fade">
                    <img src="/images/home/section-3/bottom/lentes-3.jpg">
                    <a class="prev" >&#10094;</a>
                    <a class="next" >&#10095;</a>
                    <div class="text-box">
                    <div class="text-box">
                        <h3>Gregory Peck</h3>
                        <h3>$3.899</h3>
                        <p>6 cuotas sin interes de $650</p>
                        <button>Comprar</button>
                    </div>
                </article>
            </div>
            <div class="slider-bottom">
                <article class="product-box-botton fade">
                    <img src="/images/home/section-3/bottom/lentes-4.jpg">
                    <a class="prev" >&#10094;</a>
                    <a class="next" >&#10095;</a>
                    <div class="text-box">
                    <div class="text-box">
                        <h3>Gregory Peck</h3>
                        <h3>$3.899</h3>
                        <p>6 cuotas sin interes de $650</p>
                        <button>Comprar</button>
                    </div>
                </article>
            </div>
    </section>

    <!------------------------------------------------------------------------------->
    <!-------------- Sector 4 ------------------------------------------------------->
    <section class="section-4-container">
        <div class="container-top">
            <h1>OFERTAS DEL MES</h1>
            <img src="/images/home/section-4/promo-1.jpg" >
            <img src="/images/home/section-4/publi-2.jpg" >
            <%- include('./partials/slider')%>
        </div>
        <div class="container-bottom">
            <h1>BENEFICIOS EXCLUSIVOS!</h1>
            <img src="/images/home/section-4/gafas.jpg" >
            <div class="box-pagos">
                <span>Aceptamos los siguientes medios de pago</span>
                <i class="fab fa-bitcoin"></i>
                <i class="far fa-credit-card"></i>
                <i class="fab fa-cc-paypal"></i>
                <i class="fab fa-cc-visa"></i>
                <i class="fas fa-money-bill-wave"></i>
            </div>
        </div>
    </section>

    <div class="newsletter">
        <p class="news-title">¡Unite a nuestro newsletter!</p>
        <p class="news-info">Suscribite a nuestro newsletter y conocé todas nuestras novedades lanzamientos & promos</p>
        <form action="" class="news-input">
            <input type="text" placeholder=" Email...">
            <button type="submit">SUSCRIBIR</button>
        </form>
    </div>

    <!-------------------------------------------------------------->
    <!------- FOOTER ----------------------------------------------->
    </main>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %> 
    
    <!-- FIN DE FOOTER -->
</body>
</html>