<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %> 
<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %> 
    
    <!-- FIN DE HEADER -->
    <h1 class="seachTitle" >Resultados de su busqueda</h1>
    <main class="searchResultsMain">
        <section class="card-container">
            <article class="cardsearch">
                <img src="/images/productos/lente2.jpg" alt="LenteSolNegro">
                <div class="product_info_card">
                    <h2 class="product-name">Nombre del Producto</h2>
                    <h3 class="precio">Precio. $15.000</h3>
                    <p class="btn-comprar">Ver más</p>
                </div>
            </article>
            <article class="cardsearch">
                <img src="/images/productos/lente 3.jpg" alt="LenteSolNegro">
                <div class="product_info_card">
                    <h2 class="product-name">Nombre del Producto</h2>
                    <h3 class="precio">Precio. $15.000</h3>
                    <p class="btn-comprar">Ver más</p>
                </div>
            </article>
            <article class="cardsearch">
                <img src="/images/productos/lente4.jpg" alt="LenteSolNegro">
                <div class="product_info_card">
                    <h2 class="product-name">Nombre del Producto</h2>
                    <h3 class="precio">Precio. $15.000</h3>
                    <p class="btn-comprar">Ver más</p>
                </div>
            </article>
            <article class="cardsearch">
                <img src="/images/productos/lente5.jpg" alt="LenteSolNegro">
                <div class="product_info_card">
                    <h2 class="product-name">Nombre del Producto</h2>
                    <h3 class="precio">Precio. $15.000</h3>
                    <p class="btn-comprar">Ver más</p>
                </div>
            </article>
            <article class="cardsearch">
                <img src="/images/productos/lente2.jpg" alt="LenteSolNegro">
                <div class="product_info_card">
                    <h2 class="product-name">Nombre del Producto</h2>
                    <h3 class="precio">Precio. $15.000</h3>
                    <p class="btn-comprar">Ver más</p>
                </div>
            </article>
            <article class="cardsearch">
                <img src="/images/productos/lente 3.jpg" alt="LenteSolNegro">
                <div class="product_info_card">
                    <h2 class="product-name">Nombre del Producto</h2>
                    <h3 class="precio">Precio. $15.000</h3>
                    <p class="btn-comprar">Ver más</p>
                </div>
            </article>
            <article class="cardsearch">
                <img src="/images/productos/lente4.jpg" alt="LenteSolNegro">
                <div class="product_info_card">
                    <h2 class="product-name">Nombre del Producto</h2>
                    <h3 class="precio">Precio. $15.000</h3>
                    <p class="btn-comprar">Ver más</p>
                </div>
            </article>
            <article class="cardsearch">
                <img src="/images/productos/lente5.jpg" alt="LenteSolNegro">
                <div class="product_info_card">
                    <h2 class="product-name">Nombre del Producto</h2>
                    <h3 class="precio">Precio. $15.000</h3>
                    <p class="btn-comprar">Ver más</p>
                </div>
            </article>
            <article class="cardsearch">
                <img src="/images/productos/lente2.jpg" alt="LenteSolNegro">
                <div class="product_info_card">
                    <h2 class="product-name">Nombre del Producto</h2>
                    <h3 class="precio">Precio. $15.000</h3>
                    <p class="btn-comprar">Ver más</p>
                </div>
            </article>
            <article class="cardsearch">
                <img src="/images/productos/lente 3.jpg" alt="LenteSolNegro">
                <div class="product_info_card">
                    <h2 class="product-name">Nombre del Producto</h2>
                    <h3 class="precio">Precio. $15.000</h3>
                    <p class="btn-comprar">Ver más</p>
                </div>
            </article>
            
            
        </section>
        <div class="newsletter">
            <p class="news-title">¡Unite a nuestro newsletter!</p>
            <p class="news-info">Suscribite a nuestro newsletter y conocé todas nuestras novedades lanzamientos & promos</p>
            <form action="" class="news-input">
                <input type="text" placeholder=" Email...">
                <button type="submit">SUSCRIBIR</button>
            </form>
        </div>
    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %> 
    
    <!-- FIN DE FOOTER -->
</body>
</html>