<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
    
</head>
<body class="profile-body">
    <!-- HEADER -->
    
    <%- include('partials/header.ejs') %> 
    
    <!-- FIN DE HEADER -->
    <main class="userProfile">
        <div class="avatar">
            <img src="/images/perfil/avatardefault.png" alt="">
        </div>
        <div class="userProfile-container">
            <div class="userProfile_box">
                <h3 class="userProfile_title">Datos personales</h3>
                <p class="userProfile_item">Nombre: <%= usuario.first_name + " " + usuario.last_name %> </p>
                <p class="userProfile_item">Email: <%= usuario.email %> </p>
                <p class="userProfile_item">Teléfono: TELÉFONO DE USUARIO</p>
            </div>
            <div class="userProfile_box">
                <h3 class="userProfile_title">Datos de contacto</h3>
                <p class="userProfile_item">Dirección: </p>
                <p class="userProfile_item">Código postal: </p>
                <p class="userProfile_item">Provincia: </p>
                <p class="userProfile_item">Localidad: </p>
            </div>
            <div>
            <a  href="/users/useredit" class="editprof">EDITAR DATOS</a>
            <a href="/users/logout" class="editprof">CERRAR SESION</a>
        </div>
        </div>
        
    </main>
</body>
</html>