<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
    
</head>
<body class="profile-body">
    <!-- HEADER -->
    
    <%- include('partials/header.ejs') %> 
    
    <!-- FIN DE HEADER -->
    <main class="userProfile">
        <div class="avatar">
            <img src="/images/perfil/avatardefault.png" alt="">
        </div>
        <div class="userProfile-container">
            <div class="userProfile_box">
                <form action="">
                    <label for="name">Nombre</label>
                    <input type="text">
                    <label for="apellido">Apellido</label>
                    <input type="text">
                    <label for="email">E-mail</label>
                    <input type="email">
                    <label for="telefono">Teléfono</label>
                    <input type="number">
                    <label for="direccion">Direccion</label>
                    <input type="text">
                    <label for="codigo">Codigo Postal</label>
                    <input type="text">
                    <label for="provincia">Provincia</label>
                    <input type="text">
                    <label for="Localidad">Localidad</label>
                    <input type="text">
                </form>
                <div>
                    <a  href="/users/useredit" class="editprof">EDITAR DATOS</a>
                    <a href="/users/logout" class="editprof">CERRAR SESION</a>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>